@charset "UTF-8";

/*
    Tela de login
*/

body {
    margin: 30px;
    padding: 0px;
    height: 100%;
    background-color: #C1292E;
}

#container {
    display: grid;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15px;
    gap: 2px;
    grid-template-areas: 
                'main main main'
                'footer footer footer';
}

#container header, main, footer {
    background-color: #ffffff;
    padding: 20px;
}

#cabeçalho {
    grid-area: header;
    text-align: center;
    margin: 0px;
}

#formbox h1 {
    font-size: 2em;
    color: #C1292E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 100px 0px 0px 0px;
    margin-bottom: 70px;
    text-shadow: 1px 1px 1px black;
}

#principal {
    grid-area: main;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
}

#formbox {
    margin: auto;
    width: 250px;
    height: 350px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#formbox label {
    width: 200px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#usuario {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: lightgray;
}

#senha {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: lightgray;
}

#botaologin {
    font-weight: bold;
    color: white;
    width: 130px;
    margin-bottom: 20px;
    background-color: #C1292E;
    border-radius: 5px;
}

form a {
    font-weight: bolder;
    font-size: 0.9em;
    color: #C1292E;
    text-decoration: none;
}

#rodape {
    grid-area: footer;
    text-align: right;
    padding: 0px;
}

#rodape a {
    text-decoration: none;
    color: #C1292E;
    font-size: 1em;
    font-weight: bold;
    padding-right: 10px;
}


/*
    --------------------------------------------------
*/


/*
    Esqueci a Senha
*/

#mainsenha {
    border-radius: 10px;
    width: 90%;
}

#mainsenha h1 {
    text-align: center;
    color: #C1292E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
}

#mainsenha p {
    width: 70vw;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

#label {
    font-weight: bold;
    margin-top: 50px;
}

#nome1 {
    background-color: lightgray;
    border-radius: 5px;
    width: 120px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#dadosbutton {
    width: 80px;
    font-size: 10px;
    font-weight: bold;
    background-color: #C1292E;
    color: white;
    padding: 2px;
    border-radius: 5px;
}

#dadosbutton:hover {
    background-color: #e14b50;
}

#dadosdeacesso p {
    text-align: center;
    font-size: 0.9em;
}

