@charset "UTF-8";

/*
    Tela de login
*/

body {
    margin: 30px;
    padding: 0px;
    background-color: #C1292E;
}


#sectionlogin button {
    display: none;
}

.tituloultrabank {
    display: none;
    
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15px;
}

#container header, main, footer {
    background-color: #ffffff;
    padding: 20px;
}


#formbox h1 {
    font-size: 2em;
    color: #C1292E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 100px 0px 0px 0px;
    margin-bottom: 70px;
    text-shadow: 1px 1px 1px black;
}

#principal {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
}

#formbox {
    margin: auto;
    width: 250px;
    height: 350px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#formbox label {
    width: 200px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#usuario {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: lightgray;
}

#senha {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: lightgray;
}

#botaologin {
    font-weight: bold;
    color: white;
    width: 130px;
    margin-bottom: 20px;
    background-color: #C1292E;
    border-radius: 5px;
    cursor: pointer;
}


form a {
    font-weight: bolder;
    font-size: 0.9em;
    color: #C1292E;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

#rodape {
    grid-area: footer;
    text-align: right;
    padding: 0px;
}

#rodape a {
    text-decoration: none;
    color: #C1292E;
    font-size: 1em;
    font-weight: bold;
    padding-right: 10px;
}


/*
    --------------------------------------------------
*/


/*
    Esqueci a Senha
*/


#mainsenha {
    border-radius: 10px;
    width: 90%;
}


#mainsenha p {
    width: 70vw;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

#mainsenha a {
    color: #C1292E;
}

#senhabtn {
    background-color: transparent;
    border: none;
}

#label {
    font-weight: bold;
    margin-top: 50px;
}

#nome1 {
    background-color: lightgray;
    border-radius: 5px;
    width: 120px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#nome1::placeholder {
    font-size: 0.7em;
}

#dadosbutton {
    width: 80px;
    font-size: 10px;
    font-weight: bold;
    background-color: #C1292E;
    color: white;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

#dadosbutton:hover {
    cursor: pointer;
}



#dadosdeacesso  {
    text-align: center;
    font-size: 0.9em;
    cursor: pointer;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
}


.material-symbols-outlined {
    color: #C1292E;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-top: 15px;
}

.lnr-eye {
    color: black;
    position: relative;
    left: 90px;
    bottom: 52px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

/*
    Seção Abrir Conta
*/


.abrircontamobile {
    margin-bottom: 15px;
    border: 0px;
    background-color: transparent;
}

#burguerconta {
    color: rgb(11, 11, 11);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

#sectionmenu {
    background-color: rgb(239, 239, 239);
    color: black;
    height: 50px;
    margin: 10px 0px 0px 0px;
    width:0px;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    font-size: 0.7em;
    

    transition: 0.5s;
    overflow-y: hidden;
    overflow-x: hidden;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
}

#sectionmenu.active {
    visibility: visible;
    width: 98%;
}

#sectionmenu button {
    font-size: 1em;
    font-weight: bold;
    margin: 8px 15px;
    padding: 0px;
    height: 35px;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    display: inline-block;
}

#sectionmenu button:hover {
    transform: none;
}

#sectionmenu a {
    text-decoration: none;
}

#aberturacontafundo {
    height: 800px;
    background-color: #C1292E;
    display: block;
    margin: auto;
}

#articleconta {
    height: 720px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: auto;
  
}

#articleconta h2 {
    margin-top: 120px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 1.2em;
}

#articleconta p {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-indent: 25px;
    text-align: justify;
    line-height: 1.2em;
}

#cadastrobotao {
    background-color: #C1292E;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    right: 20%;

}

#cadastrobotao:hover {
    transform: none;
    cursor: pointer;
}

#abrircontaform {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    height: 400px;
    width: 80%;
    background-color: rgba(243, 241, 241, 0.999);
    border-radius: 10px;
    margin-bottom: 100px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.597);
}


#abrircontaform > form > label {
    color: rgb(0, 0, 0);
    font: 0.87em "typewriter", sans-serif;
    font-weight: bold;
    margin: 10px;
}

#abrircontaform > form > input {
    width: 220px;
    border-radius: 5px;
    margin-bottom: 12px;
    margin-left: 5px;
    padding: 5px;
}

#abrircontaform input,
textarea {
  padding: 0 10px;
  margin: 0;
  width: 80%;
}

#abrircontaform input:invalid {
   background-color: #ffffff;
}

#abrircontaform #criarcontabotao {
    width: 160px;
    position: relative;
    left: 22%;
    background-color: #C1292E;
    color: white;
    font-weight: bold;
}

#abrircontaform #criarcontabotao:hover {
    transform: none;
    cursor: pointer;
}
