@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
}

#container {
    display: grid;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    gap: 5px;
    grid-template-areas: 
                'header header header'
                'main main main'
                'aside aside aside'
                'footer footer footer';
}

#container header, aside, main, footer {
    background-color: #ccc;
    border: 1px solid blue;
    padding: 20px;
}

#cabeçalho {
    grid-area: header;
}

#pessoal {
    position: absolute;
    top: 3%;
    right: 0;
    margin-right: 30px;
    font-size: 1.5em;
    font-weight: normal;
    cursor: pointer;
}

#menupessoal {
    background-color: white;
    padding-top: 0px;
    padding-left: 0px;
    height: 350px;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;

}

#menupessoal a {
    text-decoration: none;
    margin: auto;
    width: 150px;
    height: 10px;
    font-weight: bold;
}

#retrairmenu {
    text-align: center;
    margin-bottom: 20px;
    width: 60px;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
}

#main {
    grid-area: main;
}

#principal {
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


#menuopcoes {
    height: 400px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.operaçoes {
    width: 75px;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.operaçoes p {
    font-weight: bold;
    font-size: 14px;
}


#abrirmenu {
    text-align: center;
    font-size: 1.4m;
    font-weight: bold;
    cursor: pointer;
}


.operaçoesplus {
    width: 85px;
    height: 85px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.operaçoesplus p {
    font-weight: bold;
    font-size: 14px;
}

#marketing {
    grid-area: aside;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.propaganda {
    height: 170px;
    width: 250px;
    background-color: cornsilk;
    border-radius: 5px;
}

#rodape {
    grid-area: footer;
}